@charset "UTF-8";


body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    }

h1 {
    color: goldenrod;
    background-color ;
   }

   h2 {
    color: whitesmoke;
   }
   a {
    color: darkmagenta;
   }
   p {
    text-align: justify;
    color: grey;
   }