@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

*p {
    font-family: var(--font-padrao);
}

@font-face {
    font-family: 'pricedown';
    src: url(Fontes/pricedown/pricedown\ bl.otf) format(opentype);
}

@font-face {
    font-family: 'designer';
    src: url(Fontes/designer/DESIGNER.otf) format(opentype);
}

@font-face {
    font-family: 'agressive';
    src: url(Fontes/agressive/AGRESSIVE.otf) format(opentype);
}

@font-face {
    font-family: 'bebas_neue';
    src: url(Fontes/Bebas_Neue/BebasNeue-Regular.ttf) format(opentype);
}

:root {
    --font-titulo:'pricedown', cursive;
    --font-subtitulo:'designer', cursive;
    --font-padrao:'agressive', cursive;
    --font-reserva:'bebas_neue', cursive;
}




/* inicio das formataçoes de texto */

body {
    background-color: lightgrey;
}


nav {
    text-align: right;
    background-color:yellow ;
    padding: 20px;
}

nav  a {
    position: relative;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
}

header {
    background-color:grey;
}

header h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--font-titulo);

}

main {
    background-color: #0080006e;
    margin: auto;
    text-align: justify;
    padding: 10px;
    border: solid 1px red;
    max-width: 920px;
    position: relative;
    text-align: center;
}

main  img {
    max-width: 100%;
    max-height: 100%;
}

main h2 {
    font-family: var(--font-subtitulo);

}

main .conteiner {
    max-width: 920px; 
    padding: 10px;       
}

.div-video  {
    width: 100%;
    padding-top: 517.5px;
    position: relative;
}

.div-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
}

.pai {
    max-width: 920px;
    height: 500px;
    padding: 10px;
    border: solid 2px blue;
}

.pai .filho {
    border: solid 2px orange;
    height: 100%;
}

.filho > .q1,.q2,.q3{
    display: inline-block;
    background-color: red;
    width: 300px;
    height: 100px;
    position: relative;
}