@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgrey;

}
header {
    background-color:grey;
}

header h1 {
    text-align: center;
    padding-bottom: 20px;
}
nav {
    text-align: center;
    background-color: ;
    padding: 20px;
}

nav  a {
    position: relative;
    color: black;
    padding: 20px;
}

main {
    margin: auto;
    text-align: justify;
    padding: 10px;
    border: solid 1px red;
    max-width: 920px;
}

main article img{
    position: relative;
   align-items: center;
   margin: auto;
}